	<a class="sidebar-nav-item" href="{{site.url}}{{site.baseurl}}/">小牡花鹿 DorcasLady</a>
	<a class="sidebar-nav-item" href="{{site.url}}{{site.baseurl}}/blog" >预约 Book</a>
	<a class="sidebar-nav-item" href="{{site.url}}{{site.baseurl}}/blog/categories" >课程介绍 Classes</a>
	<a class="sidebar-nav-item" href="{{site.url}}{{site.baseurl}}/blog/tags" >教练团队 Team</a>
	<a class="sidebar-nav-item" href="{{site.url}}{{site.baseurl}}/about"  >关于我们 About</a>
	<a class="sidebar-nav-item" href="{{site.url}}{{site.baseurl}}/commentit"  >投诉建议 Comments&Complaints</a>
	<a class="sidebar-nav-item" href="{{site.url}}{{site.baseurl}}/join"  >加入我们 JoinUS</a>
	
	{% if site.github_username %}
	<a class="sidebar-nav-item" href="https://github.com/{{site.github_username}}" target="_blank">
		GitHub</i>
	</a>
	{% endif %}
