<div class="topnav" id="topnav">
      <a href="{{site.url}}{{site.baseurl}}/" {% if include.active == "home" %}  class="active"  {% endif %} >主页 Home</a>
      <a href="{{site.url}}{{site.baseurl}}/book" target="_blank" {% if include.active == "post" %}  class="active"  {% endif %} >预约 Book</a>
			<a href="{{site.url}}{{site.baseurl}}/classes" target="_blank" {% if include.active == "categories" %}  class="active"  {% endif %} >课程介绍 Classes</a>
			<a href="{{site.url}}{{site.baseurl}}/teachers" target="_blank" {% if include.active == "tags" %}  class="active"  {% endif %} >教练团队 Team</a>
			<a href="{{site.url}}{{site.baseurl}}/about" {% if include.active == "about" %}  class="active"  {% endif %} >关于我们 About</a>
			<a href="{{site.url}}{{site.baseurl}}/comment"  {% if include.active == "commentit" %} class="active"  {% endif %} > 投诉建议 Comments&Complaints </a>
			<a href="{{site.url}}{{site.baseurl}}/join"  {% if include.active == "join" %} class="active"  {% endif %} > 加入我们 Join us&Complaints </a>
      {% if site.github_username %}
			 <a href="https://github.com/{{site.github_username}}" class='icon' target="_blank" style="text-decoration:none;float: right;">
			 <i class="fab fa-github fa-lg" ></i>
			 </a>
      {% endif %}
</div>